/* 移動 */
::view-transition-group(.row-item) {
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
}

/* old/newで個別に制御するため無効化 */
::view-transition-image-pair(.row-item) {
  animation: none;
}

/* フェードアウト */
::view-transition-old(.row-item) {
  animation: fade-out 0.7s ease forwards;
}

/* フェードイン */
::view-transition-new(.row-item) {
  animation: fade-in 0.7s ease forwards;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* <select>タグのスタイル */
.filter-select {
  width: 200px;
  transition: 0.4s;

  /* selectタグを完全カスタム可能にするための初期化 */
  &,
  &::picker(select) {
    appearance: base-select;
  }

  /* option全体設定 */
  &::picker(select) {
    /* 下方向へoption一覧を表示 */
    position-try-fallbacks: none;

    width: anchor-size(self-inline);
    background-color: color-mix(
      in srgb,
      var(--color-slate-500) 35%,
      transparent
    );
    backdrop-filter: blur(8px);
    border: none;
    color: white;
  }

  &::picker-icon {
    display: none;
  }

  & option {
    padding: 4px 12px;

    &::checkmark {
      display: none;
    }

    &:checked {
      background-color: color-mix(
        in srgb,
        var(--color-violet-500) 35%,
        transparent
      );
      color: white;
    }
  }

  selectedcontent > * {
    transition:
      transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1),
      display 0.5s allow-discrete,
      opacity 0.5s;
  }

  & button {
    width: 100%;

    & div {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    & svg {
      inline-size: 2ch;
      transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    }
  }

  &:open > button svg {
    transform: rotate(0.5turn);
  }
}

/* 現状は動作していない */
@starting-style {
  .filter-select selectedcontent > * {
    opacity: 0;
    transform: translateY(8px);
  }
}
